body {
    font-family: "IRANSans";
}

a.border-icon {
    padding: 5px 7px;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.ls + .header_white {
    border-top: none;
}

@media (max-width: 991px) {
    .page_toplogo .toggle_menu {
        background-color: #bf3654;
    }
    .page_toplogo .toggle_menu:before, .page_toplogo .toggle_menu span, .page_toplogo .toggle_menu span:before, .page_toplogo .toggle_menu span:after {
        background-color: #fff;
    }
}

@media (min-width: 992px) {
    .sf-menu, .sf-menu ul {
        direction: rtl;
    }
}

.sf-menu a, .theme_buttons a, .theme_button, .wc-proceed-to-checkout .checkout-button, .buttons a, button, input[type="submit"] {
    letter-spacing: 0;
}

.select-group select {
    padding-right: 50px;
    padding-left: 20px;
}

input[type="text"] + .theme_button, input[type="email"] + .theme_button, input[type="url"] + .theme_button, input[type="password"] + .theme_button, input[type="search"] + .theme_button, input[type="tel"] + .theme_button, input[type="number"] + .theme_button, input[type="date"] + .theme_button, textarea + .theme_button, select + .theme_button, .form-control + .theme_button {
    right: 0;
    left: auto;
}