body {
    font-family: "IRANSans";
    font-size: 15px;
}

[class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
}

h4 {
    font-size: 20px;
}

.form-group {
    margin-bottom: 0px;
}

.isColorDefault {
    color: #bf3654;
}

a.border-icon {
    padding: 5px 7px;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.ls+.header_white {
    border-top: none;
}

.p-n {
    padding: 0 !important;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 991px) {
    .page_toplogo .toggle_menu {
        background-color: #bf3654;
    }
    .page_toplogo .toggle_menu:before,
    .page_toplogo .toggle_menu span,
    .page_toplogo .toggle_menu span:before,
    .page_toplogo .toggle_menu span:after {
        background-color: #fff;
    }
}

@media (min-width: 992px) {
    .sf-menu,
    .sf-menu ul {
        direction: rtl;
    }
}

.sf-menu a,
.theme_buttons a,
.theme_button,
.wc-proceed-to-checkout .checkout-button,
.buttons a,
button,
input[type="submit"] {
    letter-spacing: 0;
}

.select-group select {
    padding-right: 50px;
    padding-left: 20px;
}

input[type="text"]+.theme_button,
input[type="email"]+.theme_button,
input[type="url"]+.theme_button,
input[type="password"]+.theme_button,
input[type="search"]+.theme_button,
input[type="tel"]+.theme_button,
input[type="number"]+.theme_button,
input[type="date"]+.theme_button,
textarea+.theme_button,
select+.theme_button,
.form-control+.theme_button {
    right: 0;
    left: auto;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select,
.form-control {
    letter-spacing: 0 !important;
}

.form-control:-moz-placeholder {
    letter-spacing: 0;
}

.form-control::-moz-placeholder {
    letter-spacing: 0;
}

.form-control:-ms-input-placeholder {
    letter-spacing: 0;
}

.form-control::-webkit-input-placeholder {
    letter-spacing: 0;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: default;
}

.transferChange {
    background: #fff;
    color: #bf3654;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: auto;
}

.transferChange__icon {
    line-height: 1.5em;
}

.transferChange:hover {
    color: #fff !important;
    background: #bf3654;
    transition: all 0.05s linear 0s;
}

.canvas-arrow-wrap .canvas-arrow {
    transform: rotateY(180deg);
}