body {
    font-family: "IRANSans";
    font-size: 15px;
    direction: rtl;
}

p {
    direction: rtl;
}

h4 {
    font-size: 20px;
}

[class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 0px;
}

.isColorDefault {
    color: #bf3654;
}

a.border-icon {
    padding: 5px 7px;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.ls {
    color: #656565;
}

.ls+.header_white {
    border-top: none;
}

.p-n {
    padding: 0 !important;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fixed__bg {
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 100%;
    height: 0;
}

@media (max-width: 991px) {
    .page_toplogo .toggle_menu {
        background-color: #bf3654;
    }
    .page_toplogo .toggle_menu:before,
    .page_toplogo .toggle_menu span,
    .page_toplogo .toggle_menu span:before,
    .page_toplogo .toggle_menu span:after {
        background-color: #fff;
    }
}

@media (min-width: 992px) {
    .sf-menu,
    .sf-menu ul {
        direction: rtl;
    }
}

.sf-menu a,
.theme_buttons a,
.theme_button,
.wc-proceed-to-checkout .checkout-button,
.buttons a,
button,
input[type="submit"] {
    letter-spacing: 0;
}

.select-group select {
    padding-right: 50px;
    padding-left: 20px;
}

input[type="text"]+.theme_button,
input[type="email"]+.theme_button,
input[type="url"]+.theme_button,
input[type="password"]+.theme_button,
input[type="search"]+.theme_button,
input[type="tel"]+.theme_button,
input[type="number"]+.theme_button,
input[type="date"]+.theme_button,
textarea+.theme_button,
select+.theme_button,
.form-control+.theme_button {
    right: 0;
    left: auto;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="date"],
textarea,
select,
.form-control {
    font-weight: 500;
    letter-spacing: 0 !important;
}

.form-control:-moz-placeholder {
    letter-spacing: 0;
}

.form-control::-moz-placeholder {
    letter-spacing: 0;
}

.form-control:-ms-input-placeholder {
    letter-spacing: 0;
}

.form-control::-webkit-input-placeholder {
    letter-spacing: 0;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: default;
}

.transferChange {
    background: #fff;
    color: #bf3654;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: auto;
}

.transferChange__icon {
    line-height: 1.5em;
}

.transferChange:hover {
    color: #fff !important;
    background: #bf3654;
    transition: all 0.05s linear 0s;
}

.canvas-arrow-wrap .canvas-arrow {
    transform: rotateY(180deg);
}

@media (max-width: 767px) {
    .step_teaser .canvas-arrow-wrap .canvas-arrow {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.small-text {
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 0;
}

.small-text+.section_header {
    font-size: 30px;
    margin-top: 20px;
}

.page_footer .widget>h3,
.page_footer .widget-title {
    font-size: 28px;

}

a.color-icon.soc-telegram {
    color: #0088cc;
}

.color-bg-icon.soc-telegram,
a.soc-telegram.bg-icon:hover,
.soc-telegram.color-icon.border-icon:hover {
    background-color: #0088cc;
}

a.color-icon.soc-aparat {
    color: #ed145b;
}

.color-bg-icon.soc-aparat,
a.soc-aparat.bg-icon:hover,
.soc-aparat.color-icon.border-icon:hover {
    background-color: #ffffff;
}

.dateTime {
    margin-right: -14px;
}

.page_copyright .small-text {
    font-size: 12px;
    font-weight: 400;
}

.entry-title {
    line-height: 1.6;
}

h1.entry-title {
    display: block;
}

h4.entry-title {
    font-size: 18px;
}

.entry-content {
    text-align: justify;
}

/* Blog */
.vertical-item.content-padding .item-content {
    padding: 35px 15px 15px;
}

@media (min-width: 400px) {
    .vertical-item.content-padding .item-content {
        padding: 35px 20px 15px;
    }
}

@media (min-width: 1200px) {
    .vertical-item.big-padding .item-content {
        padding: 35px 25px 25px;
    }
}

.content-3lines-ellipsis {
    font-size: 13px;
    line-height: 1.6em;
    height: 75px;
}

.post-adds .theme_button:first-child {
    border-radius: 5px;
}

.post-adds .theme_button i {
    font-size: 13px;
    font-weight: 100;
}

@media (min-width: 991px) {
    .post-adds .theme_button {
        width: 35px;
        line-height: 35px;
    }
}

.share_blog .post-adds {
    margin: 0;
}

.share_blog .post-adds .dropdown-menu {
    direction: ltr;
    text-align: left;
    right: auto;
    left: 0;
}

.coin-form-respond {
    display: block;
    font-weight: 500;
}

.coin-form-respond:before {
    font-family: 'rt-icons-2';
    font-weight: 600;
    content: "\e71a";
    padding-left: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    padding: 13px 15px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

.product-total {
    font-weight: 500;
}

.disable {
    color: #ccc !important;
    cursor: default !important;
    pointer-events: none !important;
}

.section_header {
    font-size: 30px;
}

@media (min-width: 1200px) {
    .section_header {
        font-size: 36px;
    }
}